<!DOCTYPE html>
<html>
<head>
    <title>Dark and White Mode Example</title>
    <style>
        body {
            background-color: #fff;
            color: #333;
            transition: background-color 0.3s, color 0.3s;
        }

        .dark-mode {
            background-color: #333;
            color: #fff;
        }

        .mode-button {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1 align="center">Configuration</h1>
    <h1 align="center">This page is to enable dark mode</h1>
    <button class="mode-button" onclick="toggleMode()">Toggle Mode</button>
    <script>
        function toggleMode() {
            var body = document.querySelector("body");
            body.classList.toggle("dark-mode");
        }
    </script>
</body>
</html>
