{% extends "base.html"%} {% block title %}Home{% endblock %}

{% block content %}

<br>
<br>
<h1 align="center">Pagina de inicio</h1>

<p>En esta pagona encontraras toda la informacion de inicio de sesion del usuario</p>

<style>
  table {
      border-collapse: collapse;
  }
  td {
      border: 1px solid #999;
      padding: 3px;
  }
</style>
<table>
END;
foreach ($_SERVER as $k => $v) {
  $key = htmlentities($k);
  $value = htmlentities($v);
  echo "\n\t<tr>\n\t\t<td>$key\n\t\t<td>$value\n";
}
echo "</table>";
?>
{% endblock %}


