
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.form-login {
    width: 400px;
    height: 340px;
    background: rgb(36, 54, 88);
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid rgb(149, 183, 245);
    color: white;
}

body {
    background-color: rgb(96, 233, 215);
    background-image: url('https://www.xtrafondos.com/descargar.php?id=5771&resolucion=3840x2160');
    background-size: cover;
    background-position: center;
}

h1 {
    color: aqua;
}

h3 {
    color: aqua;
}

h2 {
    color: aqua;
    font-size: 30px;
}

label {
    color: aqua;
}

p {
    color: aqua;
    text-align: center;
    font-size: 25px;
}
.navbar {
    font-size: 20px;
    width: 100%;
    height: 50px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aqua;
}

  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #70b0db;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }